/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/
body{
    font-family: 'Noto Sans', sans-serif; 
    font-weight: 700;
}
h1,h2{
    font-family: Russo One;
    font-weight: 400;
}
h1{
    font-size: 60px;
    line-height: 72px;
}
:root{
    --color-black:rgb(7, 6, 11);
    --color-red: rgb(209, 49, 48);
    --color-white: rgb(255, 255, 255);
    --color-grey_light: rgb(237, 237, 242);
    --color-primary: rgb(70, 244, 219);
    --color-primary_active:  rgb(87, 210, 114);
    --transition-duration: 0.3s ;
}
a, button, input, textarea, svg, .bar *{
    transition-duration: var(--transition-duration);
    // transition-property: color;
    // transition-timing-function: ease-in-out;
}
a{
    cursor: pointer;
}